<!doctype html>
<title>{% block title %}{% endblock %} - Colon D</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<body>

<topbar>
    <a href="/">
    <img src="../static/title.png" alt="Colon D Logo" style="width:150px; height:auto"></a>
    <user>
        <flex><btn onclick="location.href='{{ url_for('user.login_user') }}'">Login</btn></flex>
        <flex><btn onclick="location.href='{{ url_for('user.register_user') }}'">Register</btn></flex>
    </user>
</topbar>

<outer>
    <br>
    <content>
    {% block content %}{% endblock %}
    </content>
    </br>
</outer>

</body>