<!doctype html>
<title>{% block title %}{% endblock %} - Colon D</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<body>

<topbar>
    <a href="/">
    <img src="../static/title.png" alt="Colon D Logo" style="width:150px; height:auto"></a>
    <user>
        {% if session.get("user", None) == None %}
        <flex><btn onclick="location.href='{{ url_for('user.login_user') }}'">Login</btn></flex>
        <flex><btn onclick="location.href='{{ url_for('user.register_user') }}'">Register</btn></flex>
        {% else %}
        <flex>Welcome, {{ session["user"] }}!</flex>
        <flex><btn onclick="location.href='{{ url_for('user.logout_user') }}'">Logout</btn></flex>
        {% endif %}
    </user>
</topbar>

<outer>
    <sidebar>
    <div class="links">Home</div>
    <div class="links">Posts</div>
    <div class="links">Movies</div>
    <div class="links surprise">Surprise me!</div>
    <div class="copyright">©2020 DB srya</div>
    </sidebar>
    <content>
    {% block content %}{% endblock %}
    </content>
</outer>

</body>