<!doctype html>
<head>
<title>{% block title %}{% endblock %} - Colon D</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='fonts/font.css') }}">
{% block extra_head %}{% endblock %}
</head>
<body>

<topbar>
    <a href="{{ url_for('index') }}">
    <img src="{{url_for('static', filename='title.png')}}" alt="Colon D Logo" style="width:150px; height:auto"></a>
    <user>
        {% if session.get("user", None) == None %}
        <flex><btn onclick="location.href='{{ url_for('user.login_user') }}'">Login</btn></flex>
        <flex><btn onclick="location.href='{{ url_for('user.register_user') }}'">Register</btn></flex>
        {% else %}
        <flex>Welcome, {{ session["user"] }}!</flex>
        <flex><btn onclick="location.href='{{ url_for('user.logout_user') }}'">Logout</btn></flex>
        {% endif %}
    </user>
</topbar>

<outer>
    <sidebar>
    <div class="links" onclick="location.href='{{ url_for('index') }}'">Home</div>
    <div class="links" onclick="location.href='{{ url_for('movies.posts') }}'">Posts</div>
    <div class="links" onclick="location.href='{{ url_for('movies.home') }}'">Movies</div>
    <div class="links surprise" onclick="location.href='{{ url_for('movies.random') }}'">Surprise me!</div>
    <div class="copyright">©2020 DB srya</div>
    </sidebar>
    <content>
    {% block content %}{% endblock %}
    </content>
</outer>

</body>