{% extends 'base.html' %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='movies.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block title %}
Posts
{% endblock %}

{% block content %}
<h1>Recent reviews:</h1>
<div class="movielist">
    {% for r in reviews %}
    <div class="reviewcontainer" style="cursor:unset;">
        <div class="content">
            <h1>{{ r[0] }}</h1>
            <h4 style="margin: 0px">Created {{ r[1] }} by {{ r[4] }}</h4>
            <h4>For <a href="{{ url_for('movies.movie', id=r[6]) }}" style="text-decoration: underline; cursor: pointer;">{{ r[5] }}</a></h4>
            <div class="star_container" style="margin:0px;">
            {% for i in range(10) %}
                {% if i < r[3] %}
                    <i class="fa fa-star ch"></i>
                {% else %}
                    <i class="fa fa-star nch"></i>
                {% endif %}
            {% endfor %}
            </div>
            <h3 style="margin-top: 10px;">{{ r[2] }}</h3>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}