formbox {
    border: 2px solid #9cd8da;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 500px;
    margin-top: 25vh;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 3px 3px 8px rgb(230, 230, 230);
}

formbox h1 {
    font-family: Verdana, Arial, Tahoma, sans-serif, sans-serif;
    font-weight: normal;
    font-size: 15pt;
    margin: auto;
    margin-top: 20px;
}

formbox h3 {
    font-family: Verdana, Arial, Tahoma, sans-serif, sans-serif;
    font-weight: normal;
    font-size: 11pt;
    margin: auto;
    margin-top: 8px;
}

formbox h4 {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 60px;
    color: #888;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: small;
}

formbox btn-wrapper {
    display: flex;
    justify-content: flex-end;
    flex: auto;
    width: 90%;
}


.btn {
    user-select: none;
    border: 2px solid #46c1d1;
    border-radius: 10px;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 12pt;
    margin: 15px;
    margin-bottom: 0px;
    padding: 12px 32px 12px 32px;
    transition: all 0.1s;
    cursor: pointer;
}

.btn:hover {
    background-color: #52cbdb;
    color: white;
}

.btn:active {
    background-color: #5dd2d6;
}

.btn[type="white"] {
    border: 2px solid #cecece;
    background-color: white;
}

.btn[type="white"]:hover {
    border-color: #9e9e9e;
    color: inherit;
}

.btn[type="white"]:active {
    border-color: #5c5c5c;
}

.form-holder {
    border: 2px solid #CCC;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    margin-top: 20px;
    opacity: 1;
    visibility: visible;
    transition: all .5s;
    display: flex;
    flex-direction: column;
    width: 60%;
}

.form-holder div {
    display: flex;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.form-holder div empty {
    z-index: 1;
    position: absolute;
    transform: translateX(15px);
}

.input {
    background-color: rgb(255, 255, 255);
    border: 0;
    outline: none;
    height: 30px;
    padding: 25px 35px 25px 65px;
    line-height: 30px;
    border-bottom: 1px solid #eee;
    width: 100%;
    font-size: 12px;
    box-sizing: border-box;
    transition: all .5s;
}

.input:focus {
    background-color: rgb(240, 240, 240);
    transform: translateX(-10px);
}

.input:invalid {
    border-color: #FFF;
    box-shadow: 0px 0px 0px rgb(230, 230, 230);
}

.form-holder:focus-within {
    border: 2px solid #9cd8da;
    background-color: rgb(240, 240, 240);
}

formflash {
    margin: 50px auto;
    display: flex;
    max-width: 200px;
    font-family: Helvetica;
    font-size: 16pt;
    background-color: #074d38;
    padding: 20px 50px 20px 50px;
    border-radius: 20px;
    color: white;
    align-items: center;
    box-shadow: 5px 5px 15px rgb(187, 187, 187);
}

formflash warn {
    margin: auto;
}

formflash[color="Error"] {
    background-color: rgb(179, 19, 19);
}

formflash[color="Success"] {
    background-color: rgb(10, 163, 10);
}