a {
    text-decoration: none;
}

.movielist {
    display: flex;
    flex-direction: column;
    margin-top: 50px
}

.moviecontainer {
    flex: auto;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 0.5px solid rgb(209, 209, 209);
    cursor: pointer;
    transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.moviecontainer:hover {
    background-color: rgb(247, 247, 247);
}

.moviecontainer:active {
    background-color: rgb(241, 209, 228);
}

.moviecontainer img {
    width: 125px;
    height: 175px;
    object-fit: cover;
    transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.moviecontainer:hover img {
    transform: scale(1.1);
}

.moviecontainer .content {
    margin: 5px 20px 5px 20px;
    font-family: Helvetica, Arial, sans-serif;
}

.moviecontainer .content h1 {
    font-size: 18pt;
    color: rgb(20, 20, 20);
}

.moviecontainer .content h2 {
    font-size: 11pt;
    font-weight: bold;
    color: rgb(73, 73, 73);
    margin-top: 5px;
    margin-bottom: 5px;
}

.moviecontainer .content h3 {
    font-size: 11pt;
    color: rgb(129, 129, 129);
    margin-top: 5px;
}

.moviecontainer .btn {
    width: min-content;
    height: min-content;
    padding: 4px 5px 9px 5px;
    border-radius: 20px;
    transition: all 0.1s;
}

.moviecontainer .btn:hover {
    background-color: rgb(230, 146, 188);
}

pages {
    display: flex;
    justify-content: center;
    margin: 50px auto auto auto;
}

pages .button {
    padding: 10px 20px 10px 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 13pt;
    font-weight: bold;
    border-radius: 100px;
    user-select: none;
}

pages .button[on="true"] {
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: pointer;
}

pages .button:hover[on="true"] {
    background-color: rgb(216, 18, 84);
    color: aliceblue;
}

pages .button:active[on="true"] {
    background-color:rgb(163, 16, 65);
    color: aliceblue;
}

pages .button[on="false"] {
    color: rgb(173, 173, 173);
    cursor: default;
    pointer-events: none;
}

pages .page_field {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12pt;
    color: rgb(65, 65, 65);
    border-radius: 5px;
    width: 30px;
    height: 20px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5px;
    text-align: right;
}

pages .page_field:focus {
    border-radius: 5px;
    color: rgb(36, 36, 36);
}

pages h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12pt !important;
    margin-top: auto !important;
    margin-bottom: auto !important;
    margin-right: 15px !important;
}

.mov_title {
    display: flex;
    max-width: 875px;
}

.mov_title img {
    width: 162px;
    height: 240px;
    object-fit: cover;
}

.mov_title h1 {
    font-size: 33pt;
    font-weight: bold;
}

.mov_title h3 {
    font-size: 16pt;
}

.mov_title .star {
    flex: auto;
    text-align: right;
    font-size: 30pt;
    margin-top: 20px;
    margin-right: 20px;
    
}

.mov_title .star h5 {
    font-size: 10pt;
    margin-top: 0px;
    font-weight: normal;
    color: rgb(86, 92, 97);
}

.line_div {
    flex: auto;
    border-top: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
    margin-top: 30px;
    padding: 10px 5px 10px 5px;
    font-size: 16pt;
    color: rgb(68, 68, 68);
    max-width: 875px;
}

.rev_btn {
    text-align: right;
    font-size: 18pt;
    border-radius: 20px;
    color: rgb(41, 171, 247);
    cursor: pointer;
    transition: all 0.1s;
}

.rev_btn:hover {
    color: rgb(38, 145, 233);
}


form label {
    font-family: SourceSansPro;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
    line-height: 26px;
    margin-bottom: 10px;
    width: 750px;
}

form input[type="text"] {
    border: 1px solid rgb(179, 179, 179);
    padding: 5px 10px 5px 10px;
    border-radius: 2px;
    margin-left: 20px;
    font-family: SourceSansPro;
    font-size: medium;
}

form textarea {
    font-family: SourceSansPro;
    font-size: medium;
    border: 1px solid rgb(179, 179, 179);
    padding: 5px 10px 5px 10px;
    border-radius: 2px;
    margin-left: 20px;
}

.star_container {
    margin-left: 10px;
}

.star_container .ch {
    color: gold;
}

.star_container .nch {
    color: grey;
}

.fa-star {
    cursor: pointer;
}