topbar {
    user-select: none;
    background: #7fe0c3;
    display: flex;
    align-items: center;
    padding: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}

topbar user {
    font-family: Verdana, Tahoma, sans-serif;
    display: flex;
    flex: auto;
    align-items: center;
    float: right;
    justify-content: flex-end;
}

outer {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin: auto;
    max-width: 1300px;
    min-height: 100vh;
}

outer sidebar {
    display: block;
    width: 140px;
    border-right: 1px solid rgb(214, 214, 214);
    padding: 50px 20px 50px 20px;
    font-size: 11pt;
    color: #374250;
    user-select: none;
}

outer sidebar .links {
    padding-left: 5px;
    padding: 7.5px
}

outer sidebar .links:hover {
    border-left: 4px solid rgb(233, 75, 101);
    padding-left: 5px;
    cursor: pointer;
}

.surprise {
    margin-top: 10px;
    padding-left: 10px !important;
}

.surprise:hover {
    background: linear-gradient(327deg, #ff6868, #ffc654, #f5ff70, #7cff75, #7bcaff, #9370ff, #d07bff);
    background-size: 300% 300%;

    -webkit-animation: rainbow 1s infinite;
    -moz-animation: rainbow 1s infinite;
    -o-animation: rainbow 1s infinite;
    animation: rainbow 1s infinite;
}

@-webkit-keyframes rainbow {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
}
@-moz-keyframes rainbow {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
}
@-o-keyframes rainbow {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
}
@keyframes rainbow {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
}

outer content {
    display: block;
    flex: auto;
}

body {
    margin: auto;
}

user flex {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

user flex btn {
    padding: 5px;
    width: 80px;
    border-radius: 7.5px;
    margin-left: 12px;
    text-align: center;
    transition: border 0.5s cubic-bezier(0.075, 0.820, 0.165, 1.000);
    transition: background-color 0.5s;
    border: 2px solid #7fe0c3;
    color: #1a262e;
}

user flex btn:hover {
    cursor: pointer;
    transition: background-color 0.5s;
    color: #b85d21;
}

user flex btn:active {
    cursor: pointer;
    background-color:#4ea5ac;
    color: #FFF;
    transition: background-color 0.1s;
}