{% extends 'form_empty.html' %}

{% block title %}
Register
{% endblock %}

{% block form_content %}
<a href="/"><img src="../static/title.png" alt="Colon D Logo" style="width:150px; height:auto"></img></a>
<h1>Welcome Back!</h1>
<h3>let's log you in</h3>
<div class="form-holder">
			<div><empty>🙋</empty><input type="text" class="input" placeholder="Username/Email" /></div>
			<div><empty>🔑</empty><input type="password" class="input" placeholder="Password" /></div>
</div>
<btn-wrapper style="margin-top: 40px">
<btn type="white" onclick="history.back()">Back</btn>
<btn>Log in</btn>
</btn-wrapper>
{% endblock %}