{% extends 'form_empty.html' %}

{% block title %}
Register
{% endblock %}

{% block form_content %}
<a href="/"><img src="../static/title.png" alt="Colon D Logo" style="width:150px; height:auto"></img></a>
<h1>Welcome Back!</h1>
<h3>let's log you in</h3>
<form class="form-holder" id="form" method="post">
			<div><empty>🙋</empty><input name="user" type="text" class="input" placeholder="Username/Email" autofocus/></div>
			<div><empty>🔑</empty><input name="pass" type="password" class="input" placeholder="Password" /></div>
</form>
<btn-wrapper style="margin-top: 40px">
<span class="btn" type="white" onclick="history.back()">Back</span>
<input class="btn" type="submit" form="form" value="Login"/>
</btn-wrapper>
{% endblock %}