{% extends 'base.html' %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='movies.css') }}">
{% endblock %}

{% block title %}
{{flavor}} movies
{% endblock %}

{% block content %}
<h1>Our selection of movies</h1>
<h3>Make yourself at home.</h3>
<div class="movielist">
    {% for m in movies %}
    <div class="moviecontainer">
        <img src={{ m[4] }} alt="Shawshank Redemption">
        <div class="content">
            <h1>{{ m[0] }}</h1>
            <h2>Directed by {{ m[3] }}</h2>
            <h3>{{ m[1] }} ‧ {{ m[2] }} minutes</h3>
        </div>
    </div>
    {% endfor %}
</div>
<pages>
<div class="button" on="{{ "true" if page > 1 else "false" }}" onclick="location.href='{{ movies_url }}?pg=1'">&lt;&lt;First Page</div>
<div class="button" on="{{ "true" if page > 1 else "false" }}" onclick="location.href='{{ movies_url }}?pg={{ page - 1 }}'">&lt;Previous Page</div>
<input id="page_input" class="page_field" name="page" type="text" value="{{ page }}"/>
<h1>/ {{ max_page }}</h1>
<div class="button" on="{{ "true" if page < max_page else "false" }}" onclick="location.href='{{ movies_url }}?pg={{ page + 1 }}'">Next Page&gt;</div>
<div class="button" on="{{ "true" if page < max_page else "false" }}" onclick="location.href='{{ movies_url }}?pg={{ max_page }}'">Last Page&gt;&gt;</div>
</pages>
<script>
var input = document.getElementById("page_input");
input.addEventListener("keyup", function(event) {
  if (event.keyCode === 13) {
   event.preventDefault();

   location.href=location.protocol + '//' + location.host + location.pathname + "?pg=" + Math.max(1, Math.min(input.value, parseInt("{{ max_page }}", 10)));
  }
});
</script>
{% endblock %}