{% extends 'base.html' %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='movies.css') }}">
{% endblock %}

{% block title %}
{{flavor}} movies
{% endblock %}

{% block content %}
<h1>Our selection of movies</h1>
<h3>Make yourself at home.</h3>
<div class="movielist">
    {% for m in movies %}
    <div class="moviecontainer">
        <img src={{ m[4] }} alt="Shawshank Redemption">
        <div class="content">
            <h1>{{ m[0] }}</h1>
            <h2>Directed by {{ m[3] }}</h2>
            <h3>{{ m[1] }} ‧ {{ m[2] }} minutes</h3>
        </div>
    </div>
    {% endfor %}
</div>
<pages>
<div class="button" on="false">&lt;&lt;First Page</div>
<div class="button" on="false">&lt;Previous Page</div>
<input class="page_field" name="page" type="text" placeholder="1"/>
<h1>/ many</h1>
<div class="button" on="true">Next Page&gt;</div>
<div class="button" on="true">Last Page&gt;&gt;</div>
</pages>
{% endblock %}