{% extends 'base.html' %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='movies.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block title %}
{{ movie[0] }}
{% endblock %}

{% block content %}
<div class="mov_title">
    <img src="{{ img }}">
    <div style="margin-left: 20px; margin-bottom: 20px; display: flex; flex-direction: column; justify-content: flex-end;">
    <h1>{{ movie[0] }}</h1>
    <h3>Directed by {{ movie[3] }}</h3>
    </div>
    <div class="star">
    <span><logo>⭐</logo> 5.5/10</span>
    <h5>(of 890321 reviews)</h5>
    <a class="rev_btn" href="{{ url_for('movies.home') }}{{ movie[4] }}/post">Write a review!</a>
    </div>
</div>
<div class="line_div">Reviews:</div>
<div class="movielist">
    {% for r in reviews %}
    <a class="reviewcontainer" style="cursor:unset;">
        <div class="content">
            <h1>{{ r[0] }}</h1>
            <h4>Created {{ r[1] }} by {{ r[4] }}</h4>
            <div class="star_container" style="margin:0px;">
            {% for i in range(10) %}
                {% if i < r[3] %}
                    <i class="fa fa-star ch"></i>
                {% else %}
                    <i class="fa fa-star nch"></i>
                {% endif %}
            {% endfor %}
            </div>
            <h3 style="margin-top: 10px;">{{ r[2] }}</h3>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}